#adminItem {
    width: 100%;
    border: 3px solid white;
    border-top: none;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    padding: 0.8rem;
    height: 3rem;  
    
    > div:first-child {
        color: $dark-blue;
        font-style: bold;
        font-weight: 700;
    }

    > div:last-of-type {
        >*:first-child {
            margin-right: 2rem;
        }
    }
}

.delete-item {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    background: white;
    padding: 2rem;
    width: 20vw;
    height: 30vh;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem $orange;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;

    p{
        padding-bottom: 4rem;
    }

    button:first-of-type {
        margin-right: 2rem;
    }
}

//--------------------------------------------------------
// QUERIES
//--------------------------------------------------------

@media only screen and (max-width: 500px){
    #adminItem {
        grid-template-columns: 20% 14% 14% 16% 16% 20%;
        >div:last-of-type {
            vertical-align: top;
            font-size: 0.6rem;
            display: grid;
            grid-template-columns: 50% 50%;
            
            >*{
                height: 1.2rem;
                width: 2.5rem;
            }

            >*:last-child {
                transform: translateY(0.2rem);
                -webkit-transform: translateY(0.2rem);
                -moz-transform: translateY(0.2rem);
                -ms-transform: translateY(0.2rem);
                -o-transform: translateY(0.2rem);
                padding: 0;
            }
        }
    }

    .delete-item {
        width: 20rem;
        height: 10rem;

        p{
            padding-bottom: 2rem;
        }

        button{
            font-size: 0.8rem;
        }
    }
}