.item {
    display: grid;
    width: 80vw;
    grid-template-columns: 17% 17% 17% 17% 32%;
    margin: 0 auto;
    border: 3px solid whitesmoke;
    border-top: transparent;
    
    p{
        padding: 0.5rem;
    }
}

//--------------------------------------------------------
// QUERIES
//--------------------------------------------------------

@media only screen and (max-width: 500px){
    .item {
        width: 95vw;
        
        p {
            font-size: 0.8rem;
        }
    }
}