#tracking {
    > div:first-child{
        background-color: $orange;
        position: relative;
        height: 4rem;

        *{
            position: absolute;
            font-size: 2rem;
            color: white;
            top: 0rem;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            padding-top: 1rem;
        }

        *:first-child{
            left: 2rem;
            text-decoration: none;
            cursor: pointer;
        }

        *:first-child:hover {
            color: $dark-blue;
            font-size: 1.7rem;
        }

        p{
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            top: 0.4rem;
            cursor: default;
        }

        *:last-child {
            right: 3rem;
            cursor: pointer;
        }

        *:last-child:hover {
            font-size: 1.7rem;
            color: $dark-blue;
        }
    }

    > input {
        width: 40vw;
        margin: 7rem auto;
        display: block;
        padding: 1rem;
        outline: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-size: 1.3rem;
        text-align: center;
    }

    > div:last-child {
        h2{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1.5rem;
        }

        > div:first-of-type {
            display: grid;
            width: 80vw;
            grid-template-columns: 20% 20% 20% 40%;
            margin: 1rem auto 0;
            font-size: 1.5rem;

            p{
                background-color: darken($light-blue, 10);
                padding: 1rem;
                margin-right: 0.1rem;
            }
        }

        > p:last-child {
            text-align: center;
            font-style: italic;
            margin-top: 5rem;
            font-size: 1.5rem;
            color: $gray;
        }
    }

    > #details {
        width: 90%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin:0 auto 3rem;

        > div {
            background-color: lighten($orange,48);
            margin-right: 3rem;

            >*:first-child{
                background-color: darken($orange,5);
                color: white;
                font-size: 1.8rem;
                padding: 1rem 0.3rem;
            }

            >*:last-child {
                font-size: 1.4rem;
                >div {
                    padding: 0.7rem 0.3rem;
                    display: grid;
                    grid-template-columns: 30% 70%;

                    >*:first-child {
                        font-style: bold;
                        font-weight: 700;
                    }

                    >*:last-child {
                        overflow-x: auto ;
                        overflow-y: hidden;
                    }
                }
            }
        }

        >div:last-child {
            margin-right: 0;
        }
    }
}

.signIn-Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    background: white;
    padding: 2rem 3rem;
    width: 40vw;
    height: 30vh;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem $orange;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    outline: none;

    #my-alert {
        transform: translateY(-70vh);
        -webkit-transform: translateY(-70vh);
        -moz-transform: translateY(-70vh);
        -ms-transform: translateY(-70vh);
        -o-transform: translateY(-70vh);
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -ms-transition: 0.8s;
        -o-transition: 0.8s;
        position: absolute;
        top: 25%;
        left: 25%;
        background-color: black;
        color: white;
        padding: 1rem;
        height: 7rem;
        padding-top: 1.5rem;
        grid-template-columns: 70% 30%;
        padding-top: 2.7rem;
        width: 25rem;
        box-shadow: 0.1rem 0.1rem 0.5rem  black;

        p{
            width: fit-content;
        }

        button {
            padding: 0.5rem 2rem;
            height: fit-content;
        }
    }

    #my-alert.alert {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    div {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 70%;
        
       *{
            margin-bottom: 1rem;
       }

       input{
        height: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        }
    }
}

.overlay-signIn {
    position:fixed;
    inset: 0;
    background-color: rgba($orange,0.2);
}


//--------------------------------------------------------
// QUERIES
//--------------------------------------------------------

@media only screen and (max-width: 500px){
    #tracking {
        > div:first-child {
            *:first-child{
                left: 1rem;
            }

            *:last-child {
                right: 1rem;
            }

            p{
                width: 20rem;
                font-size: 1.8rem;
                left: 55%;
            }
        }

        >input {
            width: 25rem;
            margin: 4rem auto;
            text-align: center;
            padding: 0.5rem;
        }

        > div:last-child {
            >h2 {
                padding: 2rem 0 0.7rem 0;
            }
            > div:first-of-type {
                width: 95%;

                p {
                    padding: 0.3rem;
                    font-size: 1.3rem;
                }
            }
        }

        >#details {
            width: 80%;
            margin: 1rem auto;
            display: block;

            >div {
                margin-right: 0;
                margin-bottom: 2rem;

                >*:first-child {
                    font-size: 1.4rem;
                    padding: 0.4rem;
                    text-align: center;
                }

                >*:last-child {
                    font-size: 1.1rem;

                    >div {

                        >*:last-child{
                            overflow-x: scroll;  
                        }

                        >*:last-child::-webkit-scrollbar{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .signIn-Modal {
        width: 25rem;
        padding: 2rem; 
        
        >div {
            width: 95%;
        }

        #my-alert {
            width:18rem;
            left: 15%;
            padding-top: 1.7rem;
        }
    }
}



