*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 1vw;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    line-height: 1.5rem;
}

body,html {
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

h1{
    font-weight: 700;
    font-size: 3rem;
}

button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: $orange;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.alt {
    background-color: $dark-blue;
    padding: 0.3rem 0.6rem;
}

button:hover {
    box-shadow: 0.1rem 0.1rem 0.4rem darken($orange, 10);
}

button.alt:hover {
    box-shadow: 0.1rem 0.1rem 0.4rem darken($dark-blue, 10);
}

.component {
    margin-bottom: 5rem;
}

.centered {
    width: 70%;
    margin: 0 auto;
}


//--------------------------------------------------------
// QUERIES
//--------------------------------------------------------

@media only screen and (max-width: 900px){
    html {
        font-size: 1.2vw;
    }

    .centered {
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    html {
        font-size: 1.4vw;
    }

    .centered {
        width: 97%;
    }
}

@media only screen and (max-width: 500px) {
    body,html { 
        overflow-x: hidden;
        width: 100%;
    }

    html {
        font-size: 3vw;
    }
}