*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    line-height: 1.5rem;
}

body,html {
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

h1{
    font-weight: 700;
    font-size: 3rem;
}

button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: $orange;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: 0.1rem 0.1rem 0.4rem darken($orange, 10);
}

.component {
    margin-bottom: 5rem;
}

.centered {
    width: 70%;
    margin: 0 auto;
}